@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-section__box-about, .main-section__box-careers{
    position: relative;
    text-align: center;
}

.image-container-before{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 24rem;
    height: 34rem;
    margin: auto;
    margin-bottom: 1.6rem;

    &::before{
        content: '01';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        font-family: var(--fontTitles);
        font-weight: 700;
        color: var(--colorTitles);
        width: 9.6rem;
        height: 9.6rem;
        background-color:var(--firstColorPrimary);
        border-radius: 50%;
        z-index: 100;
    }

    &--second{
        &::before{
            content: '02';
        }
    }

    &--third{
        &::before{
            content: '03';
        }
    }

    @include responsive(tablet){
        width: 28rem;
    }

    @include responsive(desktop){
        width: 30rem;
    }
}

.main-box__firstPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content-section__box{
    position: relative;
    background-color: var(--snowColor);
    padding: 2.4rem;
    transition: all .6s;

    &--grid{
        height: 33rem;

        @include responsive(420px){
            height: 28rem;
        }

        @include responsive(tablet){
            height: 24rem;
        }

        @include responsive(900px){
            height: 22rem;
        }

        @include responsive(desktop){
            height: 34rem;
        }

        @include responsive(1100px){
            height: 30rem;
        }

        @include responsive(1140px){
            height: 22rem;
        }

        @include responsive(1600px){
            height: 24rem;
        }
    }
    
    &--new{
        height: 10rem;
        row-gap: 0;
        grid-template-rows: 4rem 0;
        transition: all .6s;
    }

    
    @include responsive(tablet){
        padding: 3rem;
    }
}



