@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-content-section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 2.4rem;

    @include responsive(desktop){
        grid-template-rows: 32rem 12rem 12rem;
    }

    @include responsive(1100px){
        grid-template-rows: 28rem 12rem 12rem;
    }
}

