@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-button--section{
    display: inline-block;
    margin-left: 0;

    @include responsive(tablet){
        padding: 1.6rem 3.6rem;
        margin-bottom: 1.2rem;
    }
}