@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-text-article{
    height: auto;
    margin-bottom: 4rem;
    line-height: 1.56;
    
    @include responsive(420px){
        margin-bottom: 2.4rem;
    }

    @include responsive(tablet){
        height: 9rem;
    }

    @include responsive(desktop){
        height: auto;
        margin-bottom: 3.2rem;
    }

    @include responsive(1450px){
        width: 85%;
    }
}