@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

.main-text-article{
    height: 15rem;
    margin-bottom: 4rem;
    line-height: 1.56;

    @include responsive(tablet){
        height: 10rem;
        margin-bottom: 2.4rem;
    }

    @include responsive(desktop){
        min-height: 14.5rem;
        margin-bottom: 3.2rem;
    }
    
    @include responsive(1030px){
        min-height: 13rem;
    }
}